.advantages-section {
    line-height: 1.71;
    margin-bottom: 0px;
  
    padding-bottom: 47px;
  }
  .advantag-title {
    color: var(--secondary-font-collor);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    margin-bottom: 10px;
  }
  
  .advantag-desc {
    line-height: 1.71;
  }
  
  .advantag-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .advantag-item {
    margin-right: 30px;
    flex-basis: calc((100% - 90px) / 4);
  }
  
  .advantag-item:last-child {
    margin-right: 0px;
  }
  
  .advantag-icon {
    display: block;
    height: 120px;
  }
  
  .advantag-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #f5f4fa;
  }