.logo {
  display: block;

  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-font-collor);
  text-decoration: none;
}

.logo--box {
  margin-right: 93px;
}

.logo--accent {
  color: var(--accent-color);
}

.footer .logo {
  color: var(--primary-back-color);
  margin-bottom: 20px;
}
