.footer-social {
    margin-left: 70px;
    padding-top: 12px;
    padding-bottom: 40px;
  }
  
  .footer-social-list {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 44px;
    height: 44px;
  
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-social-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer-social-icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-back-color);
  }
  
  .footer-social-link:focus,
  .footer-social-link:hover {
    background-color: var(--accent-color);
  }